<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
	        <Exclude>[Pakturaly.Integration.Tests]*</Exclude>
	        <ExcludeByFile>**/Migrations/*.cs,</ExcludeByFile>
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <ExcludeByFile>**/DependencyInjection.cs</ExcludeByFile>
	        <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
