name: .NET

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1
    - name: Setup .NET
      uses: actions/setup-dotnet@v5.1.0
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore ./Backend/Pakturaly.sln
    - name: Build
      run: dotnet build ./Backend/Pakturaly.sln --no-restore
    - name: Test
      run: dotnet test ./Backend/Pakturaly.sln --no-build --verbosity normal
