name: Continuous Integration

on:
  push:
    branches:
      - "master"

  pull_request:
    branches:
      - "master"
    paths-ignore:
      - "**/*.md"

  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - name: Checkout full repository
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0
  
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v5.1.0
      with:
        dotnet-version: 10.0.x

    - name: Install report generator tool
      run: dotnet tool install dotnet-reportgenerator-globaltool

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: 6.4.x

    - name: Determine build version
      id: build_version
      uses: gittools/actions/gitversion/execute@v4.2.0
      with:
        disableCache: true

    - name: Build version
      run: echo "This build will be versioned as ${{ env.informationalVersion }}"

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: "csharp"

    - name: Restore solution dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --no-restore

    - name: Perform CodeQL analysis
      uses: github/codeql-action/analyze@v3

    # Include integration testing in the workflow in the future here

    - name: Run unit tests
      run: dotnet test --no-build --verbosity normal --settings tests.runsettings --filter FullyQualifiedName!~Integration.Tests

    # - name: Create OpenCover reports
    #   run: dotnet reportgenerator -reports:"${{ github.workspace }}/**/Pakturaly.Unit.Tests/TestResults/**/coverage.opencover.xml" -targetdir:"coveragereport" -reporttypes:"HtmlInline;HtmlChart;"

    # - name: Create Cobertura reports
    #   run: dotnet reportgenerator -reports:"./**/TestResults/**/coverage.cobertura.xml" -targetdir:"coverage" -reporttypes:"HtmlInline;HtmlChart"

    - name: Find code coverage file
      run: cat $(find . -name coverage.cobertura.xml)
      
    - name: Publish code coverage results
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: "**/TestResults/**/coverage.cobertura.xml"
        badge: true
        fail_below_min: true
        format: markdown
        indicators: true
        output: both
        thresholds: "30 60"
        
    - name: Write code coverage result to PR
      uses: marocchino/sticky-pull-request-comment@v2.9.4
      if: ${{ github.event_name == 'pull_request' }}
      with:
        recreate: true
        path: code-coverage-results.md
